
.single-cocktail{
    min-height: 100vh;
    background-color: var(--clr-bcg);
    color: var(--clr-font);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-single-cocktail{
    font-family: 'Fredoka One', cursive;
    padding: 20px 0;
    font-size: 40px;
}

.img-single-cocktail{
    height: 500px;
    width: 450px;
    border-radius: 5px;
}

.info-single-cocktail{
    padding: 25px 10%;
    font-family: 'Sono', sans-serif;
}

.info-single-cocktail span{
    font-weight: bold;
}

.single-cocktail .btn {
    margin: 20px 0;
}

.ingredientes {
    border-radius: 10px;
    border: 2px solid var(--clr-font);
    margin: 1px 3px;
    padding-right: 10px;
}

@media (max-width: 770px) {
    .ingredientes {
        text-align: center;
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 530px) {
    .img-single-cocktail{
        height: 400px;
        width: 85%;
    }
}